<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Impacto - Edenred</title>
    <link rel="stylesheet" href="/demo/src/main/resources/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Calcule seu impacto</h1>
            <p>Configure os dados da sua empresa para mensurar sua pegada de carbono.</p>
        </div>

        <form id="calculadoraForm" class="cards-wrapper">
            
            <div class="card">
                <h3>📦 Materiais</h3>
                
                <div class="form-group">
                    <label>Quantidade de cartões ativos</label>
                    <input type="number" name="qtd_cartoes" placeholder="Ex: 5000">
                    <small>Levando em consideração que cada funcionário de sua equipe utiliza um cartão</small>
                </div>

                <div class="form-group">
                    <label>Material do cartão</label>
                    <div class="radio-group vertical">
                        <label class="radio-card active">
                            <input type="radio" name="material" value="pvc_virgem" checked>
                            <span>💳 PVC</span>
                        </label>
                        <label class="radio-card">
                            <input type="radio" name="material" value="pvc_reciclado">
                            <span>♻️ PVC Reciclado</span>
                        </label>
                    </div>
                    <small>Sabia que a Edenred já utiliza 85% de PVC reciclado em sua produção?</small>
                </div>

                <div class="form-group">
                    <label>Embalagem e Kit de Boas-Vindas</label>
                    <select name="tipo_embalagem">
                        <option value="" disabled selected>Selecione a embalagem...</option>
                        <option value="envelope_simples">Envelope Simples</option>
                        <option value="kit_padrao">Kit Padrão (Carta + Berço plástico)</option>
                        <option value="kit_premium">Kit Premium (Caixa + Manuais impressos)</option>
                    </select>
                    <small>Embalagens maiores aumentam a emissão de CO2 no transporte</small>
                </div>
            </div>

            <div class="card">
                <h3>🚚 Uso e Entrega</h3>
                <div class="form-group">
                    <label>Frequência de uso de cada empregado</label>
                    <select name="frequencia">
                        <option value="mensal">Diário</option>
                        <option value="trimestral">Semanal</option>
                        <option value="anual">Mensal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Taxa anual de reemissão (%)</label>
                    <input type="number" name="taxa_reemissao" min="0" max="100" placeholder="Ex: 15">
                    <small>Cartões reemitidos por perda, roubo ou dano físico</small>
                </div>

                <div class="form-group">
                    <label>Destino final dos cartões</label>
                    <select name="destino">
                        <option value="descarte_comum">Descarte Comum</option>
                        <option value="reciclagem">Reciclagem Especializada</option>
                        <option value="nao_sei">Não sei</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Multiplicidade de Benefícios 💳💳💳</label>
                    <select name="multiplicidade_cartoes" id="multiplicidadeInput" class="select-alert">
                        <option value="1">1 cartão (Benefícios já unificados)</option>
                        <option value="2" selected>2 cartões (Ex: Alimentação + Refeição)</option>
                        <option value="3">3 cartões (Ex: VR + VA + Mobilidade)</option>
                        <option value="4">4 ou mais cartões (Totalmente fragmentado)</option>
                    </select>
                    <small>Ter múltiplos cartões físicos por funcionário multiplica o consumo de plástico. O app unifica todos os saldos.</small>
                </div>
            </div>

        
        </form>

        <button type="button" id="btnCalcular" class="btn-primary">
            CALCULAR MEU IMPACTO
        </button>
    </div>
    <script src="/demo/src/main/resources/static/scripts/main.js"></script>
</body>
</html>